

    <input type="checkbox" id="check">
   
    
    <!--header area start-->
    
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <i class="fas fa-user fa-5x"></i>
        <h4>ADMIN</h4>
       
      <a routerLink="listPrSortie">Profils de sortie</a>
      <a routerLink="listProfils">Profils</a>
      <a routerLink="listComp">Compétences</a>
      <a routerLink="listGrpComp">Groupe de Compétences</a>
      <a routerLink="listRefs">Référentiel</a>
      <a routerLink="#">Promo</a>
    </div>
    <!--sidebar end-->

    <div class="content"></div>
     
 