
<app-header></app-header>
<div class="container">

    <a [routerLink]='["/refs"]' class="btn btn-primary">Back</a>
    
        <form [formGroup]="RefForm" (ngSubmit)="createRef()" >
      
            <legend>Création de Référentiel</legend>
            <div class="form-group row">
                <label for="ref" class="col-sm-2 col-form-label">Référentiel</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="ref" placeholder="entrer le référentiel"
                  [formControlName]="'libelle'">
                </div>
              </div>

              <div class="form-group row">
                <label for="pres" class="col-sm-2 col-form-label">Présentation</label>
                <div class="col-sm-6">
                    <textarea [formControlName]="'presentation'" id="pres" class="form-control"></textarea>
                </div>
              </div>

                <div class="form-group row">
                    <label for="comp" class="col-sm-2 col-form-label">Groupe de Compétences</label>
                    
                        <div class="col-sm-6">
                            <select class="form-select form-select-sm form-control" 
                            aria-label=".form-select-sm example" [formControlName]="'grpComp'">
                                <option selected>Select a Groupe de compétences</option>
                                <option *ngFor="let grpC of grpCompetences" value="{{grpC}}">{{grpC}}</option>
                              </select>
                         </div>
                </div>
            
            <div class="form-group row">
                <label for="prog"  class="col-sm-2 col-form-label">Programme</label>
                <div class="col-sm-6">
                    <input type="file" [formControlName]="'programme'" id="prog" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="eval" class="col-sm-2 col-form-label">Critère d'évaluation</label>
                <div class="col-sm-6">
                    <textarea [formControlName]="'evaluation'" id="eval" class="form-control"></textarea>
                 </div>
            </div>

            <div class="form-group row">
                <label for="admiss" class="col-sm-2 col-form-label">Critère d'admission</label>
                <div class="col-sm-6">
                    <textarea [formControlName]="'admission'" id="admiss" class="form-control"></textarea>
                </div>
            </div>
            
            <button [disabled] = "!RefForm.valid" type="submit" class="btn btn-primary">SOUMETTRE</button>
        </form>
   
</div>
