<app-header></app-header>
<div class="container">
    <div class="row">
        <legend>Création Groupe de Compétences</legend>
        <form action="">
            <div class="form-group">
                <label for="lib">Groupe de Compétences</label>
                <input type="text" id="lib" name="libelle" class="form-control" placeholder="Entrer le nom du groupe de compétences">
            </div>

            <div class="form-group">
                <label for="desc">Descriptif</label>
                <textarea id="desc" name="desc" rows="4" cols="50" class="form-control">
                </textarea>
            </div>

            <div class="form-group">
                <label for="lib">Ajouter des compétences</label>
                <div class="scroller bordure">
                   <label for="c1">Maquettage</label> <input type="checkbox" name="c1" id="c1">
                   <label for="c2">Gestion de Base de Données</label> <input type="checkbox" name="c2" id="c2">
                   <label for="c3">Integration Web</label> <input type="checkbox" name="c3" id="c3">
                   <label for="c4">Backend</label> <input type="checkbox" name="c4" id="c4">
                   <label for="c5">Frontend</label> <input type="checkbox" name="c5" id="c5">
                   <label for="c6">FullStack</label> <input type="checkbox" name="c6" id="c6">
                </div>
            </div>

            <button>SOUMETTRE</button>
        </form>
    </div>
</div>
