<div class="card" style="width: 18rem;">
  <div class="card-header">
   {{ref.libelle}}
   <i class="fas fa-eye"></i>
   <i class="far fa-trash-alt"></i>
   <i class="fas fa-edit"></i>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ref.libelle}}</li>
    <li class="list-group-item">{{ref.presentation}}</li>
    <li class="list-group-item">{{ref.programme}}</li>
    <li class="list-group-item">{{ref.evaluation}}</li>
    <li class="list-group-item">{{ref.admission}}</li>
    <li class="list-group-item">{{ref.grpComp}}</li>
  </ul>
</div>
