<div class="container">

    <h1>DETAIL REFERENTIEL</h1>

     <div>
         <h2>ID:</h2>
         <p>{{ref.id}}</p>
     </div>

     <div>
        <h2>Référentiel:</h2>
        <p>{{ref.libelle}}</p>
    </div>

    <div>
        <h2>Présentation:</h2>
        <p>{{ref.presentation}}</p>
    </div>

    <div>
        <h2>Groupe de Compétences:</h2>
        <p>{{ref.grpComp}}</p>
    </div>

    <div>
        <h2>Programme:</h2>
        <p>{{ref.programme}}</p>
    </div>

    <div>
        <h2>Critère d'évaluation:</h2>
        <p>{{ref.evaluation}}</p>
    </div>

    <div>
        <h2>Critère d'admission:</h2>
        <p>{{ref.admission}}</p>
    </div>
    
</div>
